#
# {{ ansible_managed }}
#
[Unit]
Description=Renew Let's Encrypt certificate using lego

[Timer]
OnCalendar={{ systemd_timer_oncalendar }}
RandomizedDelaySec={{ systemd_timer_randomizeddelaysec }}
Persistent=true

[Install]
WantedBy=timers.target
