#!/bin/bash
#
# {{ ansible_managed }}
#

source /etc/lego/config

[ -z "$EMAIL" ] && {
        echo "EMAIL is not set..."
        exit 1
}

[ -z "$DOMAIN" ] && {
        echo "DOMAIN is not set..."
        exit 1
}

[ -z "$ARGS" ] && {
        echo "ARGS is not set..."
        exit 1
}

[ -z "$SERVER" ] && {
        echo "SERVER is not set..."
        exit 1
}

[ -z "$LEGO_PATH" ] && {
        echo "LEGO_PATH is not set..."
        exit 1
}

echo "EMAIL is set to $EMAIL"
echo "DOMAIN is set to $DOMAIN"
echo "ARGS is set to $ARGS"
echo "SERVER is set to $SERVER"
echo "LEGO_PATH is set to $LEGO_PATH"

#
# Ready for take-off
#
{{ path_to_install_to }}/lego --accept-tos --path "$LEGO_PATH" --email "$EMAIL" --server "${SERVER}" $ARGS --domains "${DOMAIN}" renew
